extends /common

append style
  +style('add-project')

append content
  .container-fluid
    .con-container
      .tab-nav
        button.btn.btn-primary.J-add-save 保存
      .pact-form(style="padding:0;")
        +form-horizontal()(class="row" id="add-project-form")
          .list-item
            p.list-title 基本信息
              span.pull-right.J-toggle 收起-
            .form-item-box.clearfix
              .rwo.clearfix 
                .item.col-md-2 
                  .upload-container
                    a.text-center.upFile(href="javascript:;") 点击上传，项目图片
                      img(src="image/project-pic.jpg", class="show-pic")
                .item.col-md-10 
                  .row
                    +form-horizontal-item({label:'项目简称',i:true,type:'input',cw:6})(class="col-md-6")
                    +form-horizontal-item({label:'编号',type:'mix',cw:6})(class="col-md-6")
                      span.tip.text-primary 保存后自动生成……
                  .row
                    +form-horizontal-item({label:'项目负责人',i:true,type:'input',cw:6})(class="col-md-6")
                    +form-horizontal-item({label:'施工部门',i:true,type:'input',cw:6})(class="col-md-6")
                  .row
                    +form-horizontal-item({label:'项目全称',i:true,type:'input',cw:6})(class="col-md-6")
                    +form-horizontal-item({label:'项目状态',i:true,type:'select',cw:6})(class="col-md-6")
                  .row
                    +form-horizontal-item({label:'建设单位',type:'input',cw:6})(class="col-md-6")
                    +form-horizontal-item({label:'实际开工日期',type:'date',cw:6})(class="col-md-6")
              p.good-tip 已关联合同，如需修改合同信息，请点击
                a(href="#") 南京歌剧院一期项目合同
              .row
                .form-group.pact-date
                  label.control-label.col-xs-2 合同开工竣工日期：
                  .col-xs-9.col-md-4
                    input( class="form-control" type="text" date="true")
                    input( class="form-control" type="text" date="true")
              .row
                .form-group.taxType
                  label.control-label.col-xs-2 开票类型：
                  .col-xs-9.col-md-4
                    select.form-control
                      option 11%
                      option 3%
                    select.form-control
                      option 增值税专用发票
                      option 增值税普通发票
              .row
                .form-group
                  label.control-label.col-xs-2 合同总额(含税价)：
                  .col-xs-9.col-md-2
                    input.form-control
                  p.tax-price
                    span 万元
                    span 其中，税额：
                      input.price(type="text" disabled)
                    span 万元
                    span 不含税价：
                      input.price(type="text" disabled)
                    span 万元       
              .row
                .form-group
                  label.control-label.col-xs-2 工程类别：
                  .col-xs-9.col-md-2
                    select.form-control 
                  label.control-label.col-xs-1 管理费率：
                  .col-xs-9.col-md-2.manage-price
                    input.form-control
                    span %  
              .row
                .form-group.area-check
                  label.control-label.col-xs-2 工程地点：
                  .col-xs-9.col-md-2
                    input.form-control
                  .col-xs-9.col-md-3
                    input.form-control(type="text"  placeholder="请输入详细地址")
          .list-item
            p.list-title 补充信息
              span.pull-right.J-toggle 收起-
            .form-item-box.clearfix
              .row
                .form-group.project-survey
                  label.control-label.col-xs-2 工程概况：
                  .col-xs-9.col-md-8
                   textarea.form-control
              .row
                .form-group.project-survey
                  label.control-label.col-xs-2 相关工程：
                  .col-xs-9.col-md-2
                   input.form-control
              .row
                .form-group.project-survey
                  label.control-label.col-xs-2 备注：
                  .col-xs-9.col-md-8
                   textarea.form-control