extends /common

append style
  +style('pactdetail')


append content
  .container-fluid
    .con-container
      .tab-nav
        a.btn.btn-primary(href="") 编辑
        button.btn.btn-default 确认提交 
        button.btn.btn-default 审批意见
        button.btn.btn-default(data-toggle="modal" data-target="#pactModal") 合同评审表 
      .panel.panel-default.mt-20.detail-show
        .panel-heading: .row
        .panel-body.pact-info
          .row
            .statu-pic.col-md-offset-10
              img(src="image/statu.png")
              img(src="image/success-statu.png")
              img(src="image/wait-statu.png")
              img(src="image/nopass-statu.png")
            .col-md-12
              p.project-name 南京歌剧院建设工程施工合同
                samll.number 编号：
                  span.xl 123456
                a(href="add-pact.html" class="main-pact") （有补充合同，点击查看）
              +detail-list(items)
      +tab(tabs)
        .tab-pane.active#tab1
          .panel.panel-default
            .panel-body.row
              .col-md-12
                +table-pact-pay
        .tab-pane#tab2
          .panel.panel-default
            .panel-body.row
              .col-md-12
                +table-pact-desc
        .tab-pane#tab3
          .panel.panel-default
            .panel-body.row
              .col-md-12
                +table-pact-file
        .tab-pane#tab4
          .panel.panel-default
            .panel-body.row
              .col-md-12
                +table-pact-change-history
      .modal.fade#pactModal(tabindex="-1" role="dialog" aria-labelledby="pactModal")
        .modal-dialog( role="document")
          .modal-content
            .modal-header
              h4.modal-title#myModalLabel 合同评审表
            .modal-body
              .tab-btn
                button.btn.btn-default.claose(type="button" data-dismiss="modal" aria-label="Close") 返回
                button.btn.btn-default(type="button") 导出
              h3.pactinfo-title.text-center 江苏江安集团有限公司合同评审记录
              h3.pactinfo-title 合同信息:
              p 
                span 施工单位及项目负责人：
                |南京分公司-第二项目部
              p 
                span 合同编号：
                |JAJT01XMHT00018888
              p 
                span 建设单位：
                |南京分公司-第二项目部
              p 
                span 合同开工竣工日期：
                |2016/5-2017/5
              p 
                span 工程名称：
                |南京分公司-第二项目部
              p 
                span 合同金额：
                |6000万
              h3.pactinfo-title 评审意见:
              .idea-item
                p 工程部：李刚  2016-6-6  19:30:10
                p 同意签订
              .idea-item
                p 工程部：李刚  2016-6-6  19:30:10
                p 同意签订
              .idea-item
                p 工程部：李刚  2016-6-6  19:30:10
                p 同意签订


