extends /common

append style
  +style('project-config')

append content
  .container-fluid
    .con-container
      .tab-nav
         button.btn.btn-primary.J-add-save 保存
      .wrap-container
        form.form-horizontal(class="row" id="add-pro-detail-form" action="" method="post")
          +template
            .form-group
              label.col-md-2.control-label 项目编号生成：
              .col-sm-10.project-num-create 自动 
                label.sta
                  |{{#autoCreateProjectNo}}
                  input(type="checkbox" checked class="isAutoProject" name="autoCreateProjectNo" value="1") 
                  |是
                  |{{/autoCreateProjectNo}}
                  |{{^autoCreateProjectNo}}
                  input(type="checkbox"  class="isAutoProject" name="autoCreateProjectNo" value="0") 
                  |是
                  |{{/autoCreateProjectNo}}
            .form-group|{{^projectNoCreationRules}}.hidden|{{/projectNoCreationRules}}
              label.col-md-2.control-label 规则：
              .col-sm-10
                .number-wrap-container.clearfix
                  .fixation.clearfix.auto_box
                    |{{#projectNoCreationRules}}
                    div.project-item.pull-left
                      input.rules_auto(type="hidden" value="{{.}}" name="projectNoCreationRules") 
                      |{{.}}
                      em.del-item x
                    |{{/projectNoCreationRules}}
                    span.increase-num.pull-left 递增编号
                    span.add-ico
                    input.form-control(type="text" value="2") 
                    span.add-ico 位
                    span.circle-add.J-add-auto_no +
            .form-group
              label.col-md-2.control-label 项目状态：
              .col-sm-10.list-box
                |{{#projectStatuses}}
                div.project-item 
                  input(type="hidden" name="projectStatuses" value="{{.}}")
                  | {{.}}
                  em.del-item ×
                |{{/projectStatuses}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 工程类别：
              .col-sm-10.list-box
                |{{#projectTypes}}
                div.project-item  
                  input(type="hidden" name="projectTypes" value="{{.}}")
                  |{{.}}
                  em.del-item ×
                |{{/projectTypes}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 联系单位类型：
              .col-sm-10.list-box
                |{{#associatedUnitTypes}}
                div.project-item  
                  input(type="hidden" name="associatedUnitTypes" value="{{.}}")
                  |{{.}}
                  em.del-item ×
                |{{/associatedUnitTypes}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 企业性质：
              .col-sm-10.list-box
                |{{#enterpriseProperties}}
                div.project-item  
                  input(type="hidden" name="enterpriseProperties" value="{{.}}")
                  |{{.}}
                  em.del-item ×
                |{{/enterpriseProperties}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 合同编号生成：
              .col-sm-10.project-num-create 自动 
                label.sta
                  |{{#autoCreateContractNo}}
                  input(type="checkbox" checked class="isAutoContact" name="autoCreateContractNo" value="1") 
                  |是
                  |{{/autoCreateContractNo}}
                  |{{^autoCreateContractNo}}
                  input(type="checkbox"  class="isAutoContact" name="autoCreateContractNo" value="0") 
                  |是
                  |{{/autoCreateContractNo}}
            .form-group.hidden
              label.col-md-2.control-label 规则：
              .col-sm-10
                .number-wrap-container.clearfix
                  .fixation.clearfix.auto_box
                    |{{#contractNoCreationRules}}
                    div.project-item.pull-left
                      input.rules_auto(type="hidden" value="{{.}}" name="contractNoCreationRules") 
                      |{{.}}
                      em.del-item x
                    |{{/contractNoCreationRules}}
                    span.increase-num.pull-left 递增编号
                    span.add-ico
                    input.form-control(type="text" value="2") 
                    span.add-ico 位
                    span.circle-add.J-add-auto_htno +
            .form-group
              label.col-md-2.control-label 项目合同税率：
              .col-sm-10.list-box
                |{{#contractRates}}
                div.project-item  
                  input(type="hidden" name="contractRates" value="{{.}}")
                  |{{.}}
                  em.del-item ×
                |{{/contractRates}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 开票类型：
              .col-sm-10.list-box
                |{{#invoiceTypes}}
                div.project-item  
                  input(type="hidden" name="invoiceTypes" value="{{.}}")
                  |{{.}}
                  em.del-item ×
                |{{/invoiceTypes}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 合同类型：
              .col-sm-10.list-box
                |{{#contractTypes}}
                div.project-item  
                  input(type="hidden" name="contractTypes" value="{{.}}")
                  |{{.}}
                  em.del-item ×
                |{{/contractTypes}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 承包方式：
              .col-sm-10.list-box
                |{{#contractingModes}}
                div.project-item  
                  input(type="hidden" name="contractingModes" value="{{.}}")
                  |{{.}}
                  em.del-item ×
                |{{/contractingModes}}
                span.circle-add.J-add-item +
            .form-group
              label.col-md-2.control-label 合同主要条款：
              .col-sm-10
                div.table-responsive
                  table.table.table-bordered.table-default.table-bordered
                    thead
                      tr
                        th 条款标题
                        th 操作
                    tbody
                      |{{#contractTerms}}
                      tr
                        td
                          input( type="hidden" name="contractTerms" value="{{contractTerms}}") 
                          |{{contractTerms}}
                        td
                          a.J-del-contact(href="") 删除
                      |{{/contractTerms}} 
                span.circle-add.contactContent +
      +modal('编辑')(id="add-item")
        +modal-project-config-add-item
      +modal('编辑')(id="addno-item")
        +modal-project-config-addno-item
      +modal('编辑')(id="addhtno-item")
        +modal-project-config-addhtno-item  