extends /common

append style
  +style('index')

append content
  .container-fluid
    form(action="" method="post") 
      div
        select(name="a")
        select(name="a")
        select(name="a")
        select(name="a")
      div
        input(name="associatedUnitTypes[]" value="aaa")
      div
        input(name="associatedUnitTypes[1]" value="aaa")
      div
        input#inp(name="associatedUnitTypes[1]" value="aaa" date)
      div
        input(date="true")
      div
        input.dep(type="text")
      div
        button 提交