/*
* @Author: huangzexia
* @Date:   2016-07-19 11:19:48
* @Last Modified by:   huangzexia
* @Last Modified time: 2016-07-19 17:33:30
*/
.area-list{
  background: #fff;
  a{
    float: left;
    margin: 8px;
    padding: 0 8px;
    border: 1px dashed #fff;
    border-radius: 3px;
    color: #999;
    &:hover{
      border-color:#2b61a5;
      color: #2b61a5;
    }
    &.is-active{
      border-color:#2b61a5;
      color: #2b61a5;
    }
  }
}