//-材料选择
.row.modal-container
  .left-nav.col-md-3 
    p.ztree-title 标准分类
    ul#treeDemo.ztree
  .right-serach.col-md-9
    dl.dl-horizontal
      dt.p-name 品种：
      dd
        label.radio-inline
          input(type="radio")
          |螺纹管
        label.radio-inline
          input(type="radio")
          |螺纹管
        label.radio-inline
          input(type="radio")
          |螺纹管
        label.radio-inline
          input(type="radio")
          |螺纹管
        label.radio-inline
          input(type="radio")
          |螺纹管
        label.radio-inline
          input(type="radio")
          |螺纹管
        label.radio-inline
          input(type="radio")
          |螺纹管
    dl.dl-horizontal
      dt.p-name 直径：
      dd
        label.radio-inline
          input(type="radio")
          |6.5
        label.radio-inline
          input(type="radio")
          |8.2
        label.radio-inline
          input(type="radio")
          |0.5
        label.radio-inline
          input(type="radio")
          |6.25
        label.radio-inline
          input(type="radio")
          |52.02
        label.radio-inline
          input(type="radio")
          |0.25
        label.radio-inline
          input(type="radio")
          |22.2
    dl.dl-horizontal
      dt.p-name 级别：
      dd
        label.radio-inline
          input(type="radio")
          |6.5
        label.radio-inline
          input(type="radio")
          |8.2
        label.radio-inline
          input(type="radio")
          |0.5
        label.radio-inline
          input(type="radio")
          |6.25
        label.radio-inline
          input(type="radio")
          |52.02
        label.radio-inline
          input(type="radio")
          |0.25
        label.radio-inline
          input(type="radio")
          |22.2
    dl.dl-horizontal
      dt.p-name 抗压强度：
      dd
        label.radio-inline
          input(type="radio")
          |6.5
        label.radio-inline
          input(type="radio")
          |8.2
        label.radio-inline
          input(type="radio")
          |0.5
        label.radio-inline
          input(type="radio")
          |6.25
        label.radio-inline
          input(type="radio")
          |52.02
        label.radio-inline
          input(type="radio")
          |0.25
        label.radio-inline
          input(type="radio")
          |22.2
    dl.dl-horizontal
      dt.p-name 轧机方式：
      dd
        label.radio-inline
          input(type="radio")
          |普通
        label.radio-inline
          input(type="radio")
          |高强度
    .form-inline
      .form-group
        label.name 材料名称：
        input(type="text").form-control
      .form-group
        label.name 规格型号：
        input(type="text").form-control
      .form-group
        label.name 单位：
        input(type="text").form-control
    //- .row
    //-   +form-horizontal-item({label:'材料名称',type:'text',cw:7})(class="col-md-3")
    //-   +form-horizontal-item({label:'规格型号',type:'text',cw:7})(class="col-md-3")
    //-   +form-horizontal-item({label:'单位',type:'text',cw:7})(class="col-md-3")