.pact-form
  .row
    +form-horizontal-item({label:'流程名',type:'mix',cw:7})(class="col-md-5")
      span.default-data 采购计划流程
  .row
    +form-horizontal-item({label:'发起人',type:'mix',cw:7})(class="col-md-5")
      span.default-data 王颖
    +form-horizontal-item({label:'发起日期',type:'mix',cw:7})(class="col-md-5")
      span.default-data 2016-05-12
  .list-container
    p 审批人：王颖
    .item
      ul
        li 环节到达时间：2015-05-25 13:20:30
        li 环节结束时间：2015-05-25 13:20:30
        li 审批结果：同意
        li 审批意见：没有问题
    p 审批人：王颖
    .item
      ul
        li 环节到达时间：2015-05-25 13:20:30
        li 环节结束时间：2015-05-25 13:20:30
        li 审批结果：同意
        li 审批意见：没有问题
    p 审批人：王颖
    .item
      ul
        li 环节到达时间：2015-05-25 13:20:30
        li 环节结束时间：2015-05-25 13:20:30
        li 审批结果：同意
        li 审批意见：没有问题