+form-horizontal()(action="")
  .row
    .col-md-4
      +form-horizontal-item({label:'合同查询',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'项目负责人',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'总包方',type:'input',lw:3,nocolon:true})
  .row
    .col-md-4
      +form-horizontal-item({label:'所属项目',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'合同类别',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'签订日期',type:'mix',lw:3,nocolon:true})
        .row
          .col-xs-6
            +form-control({type:'date'})
          .col-xs-6
            +form-control({type:'date'})
  .row
    .col-md-4
      +form-horizontal-item({label:'施工单位',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'施工城市',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'是否归档',type:'mix',lw:3,nocolon:true})
        .row
          .col-xs-8
            +form-control({type:'radio',text:['是','否']})
          .col-xs-4
            +submit('查询')(class="btn-primary")
