+form-horizontal()(action="")
  .row
    .col-md-4
      +form-horizontal-item({label:'项目名称',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'项目编号',type:'input',lw:3,nocolon:true})
    .col-md-4
      +form-horizontal-item({label:'施工单位',type:'input',lw:3,nocolon:true})
  .row
    .col-md-4
      +form-horizontal-item({label:'项目负责人',type:'input',lw:3,nocolon:true})
    .col-md-6
      +form-horizontal-item({label:'项目状态',type:'checkbox',lw:3,nocolon:true,text:['未开工','在建中','已完工','已审定']})
  .row
    .col-md-4
      +form-horizontal-item({label:'建设单位',type:'input',lw:3,nocolon:true})
    .col-md-6
      +form-horizontal-item({label:'工程地点',type:'input',lw:3,nocolon:true})
        .row
          .col-xs-4
            select.form-control
              option(value="") 请选择
          .col-xs-4
            select.form-control
              option(value="") 请选择
          .col-xs-4
            select.form-control
              option(value="") 请选择
