form.panelm
  .panelm-j
    .form-group.has-feedback.invisible
      input.form-control(placeholder="${placeholder}")
      .icon-search.form-control-feedback
    ul.panelm-w.list-unstyled
  .panelm-c
    button.btn.j-role-a(type="button" title="添加")
      .icon-angle-right
    button.btn.j-role-aa(type="button" title="全部添加")
      .icon-double-angle-right 
    button.btn.j-role-r(type="button" title="移除")
      .icon-angle-left
    button.btn.j-role-ra(type="button" title="全部移除")
      .icon-double-angle-left 
  .panelm-j
    .form-group ${rightTitle}
    ul.panelm-w.list-unstyled