h3.print-title.text-center 客户名称+材料付款审批表 
  small 编号：SHD0001
table.table.table-default.table-bordered
  tr
    td.type-list 项目名称
    td 南京歌剧院一期
    td.type-list 合同名称
    td 南京歌剧院一期
  tr
    td.type-list 供应商名称
    td 江苏筑牛网络科技有限公司
    td.type-list 本次申请金额
    td 6000,00元
  tr
    td.type-list 合同总额
    td 60000,00元
    td.type-list 付款阶段
    td 进度款
  tr
    td.type-list 已付总额
    td 60000,00元
    td.type-list 累计入库总额
    td 60000,00元
br
br
p.print-title.print-title-1 评审意见:
table.table
  tr
    td 工程部：李起光&nbsp;&nbsp;&nbsp;&nbsp;2016-12-25 &nbsp;&nbsp;&nbsp;09:12:25
  tr
    td 同意付款
hr
table.table
  tr
    td 工程部：李起光&nbsp;&nbsp;&nbsp;&nbsp;2016-12-25 &nbsp;&nbsp;&nbsp;09:12:25
  tr
    td 同意付款
hr
table.table
  tr
    td 工程部：李起光&nbsp;&nbsp;&nbsp;&nbsp;2016-12-25 &nbsp;&nbsp;&nbsp;09:12:25
  tr
    td 同意付款