.row
  +form-horizontal-item({label:'计划编号',type:'input',cw:7})(class="col-md-4")
  +form-horizontal-item({label:'采购项目',type:'input',cw:7})(class="col-md-4")
  +form-horizontal-item({label:'采购部门',type:'input',cw:7})(class="col-md-4")
.row
  +form-horizontal-item({label:'计划年月',type:'select',cw:7})(class="col-md-4")
  +form-horizontal-item({label:'地区',type:'input',cw:7})(class="col-md-4")
  .form-group.col-md-4
    .control-label.col-xs-5
      button.btn.btn-primary 查询
.row.result-container
  table#addPlan(data-detail-view="true")
    //- thead
    //-   tr
        //- th(data-field="check") 选中
        //- th(data-field="id") 编号
        //- th(data-field="bm") 采购部门
        //- th(data-field="project") 采购项目
        //- th(data-field="num") 计划编号
        //- th(data-field="cl") 材料类型
        //- th(data-field="plan") 计划总额
        //- th(data-field="time") 计划年月
        //- th(data-field="area") 项目地区
    //- tbody
    //-   tr
    //-     td 
    //-       input(type="checkbox")
    //-     td 1
    //-     td 南京分公司
    //-     td 南京歌剧院
    //-     td 001
    //-     td 钢筋
    //-     td 1000.00元
    //-     td 2016年-6月
    //-     td 南京
    //-   tr
    //-     td(colspan="9")
    //-       table.table.table-bordered
    //-         tr
    //-           td
    //-             input(type="checkbox")
    //-           td 0101B01D04E01F12I01
    //-           td 级热轧圆盘条
    //-           td Φ6HPB300普通线材
    //-           td t
    //-           td 2016-5-30
    //-           td 200.000
    //-           td 光明牌
    //-           td 国家标准
    //-         tr
    //-           td
    //-             input(type="checkbox")
    //-           td 0101B01D04E01F12I01
    //-           td 级热轧圆盘条
    //-           td Φ6HPB300普通线材
    //-           td t
    //-           td 2016-5-30
    //-           td 200.000
    //-           td 光明牌
    //-           td 国家标准
    //-         tr
    //-           td
    //-             input(type="checkbox")
    //-           td 0101B01D04E01F12I01
    //-           td 级热轧圆盘条
    //-           td Φ6HPB300普通线材
    //-           td t
    //-           td 2016-5-30
    //-           td 200.000
    //-           td 光明牌
    //-           td 国家标准
    //-   tr
    //-     td 
    //-       input(type="checkbox")
    //-     td 1
    //-     td 南京分公司
    //-     td 南京歌剧院
    //-     td 001
    //-     td 钢筋
    //-     td 1000.00元
    //-     td 2016年-6月
    //-     td 南京
    //-   tr
    //-     td(colspan="9")
    //-       table.table.table-bordered
    //-         tr
    //-           td
    //-             input(type="checkbox")
    //-           td 0101B01D04E01F12I01
    //-           td 级热轧圆盘条
    //-           td Φ6HPB300普通线材
    //-           td t
    //-           td 2016-5-30
    //-           td 200.000
    //-           td 光明牌
    //-           td 国家标准
    //-         tr
    //-           td
    //-             input(type="checkbox")
    //-           td 0101B01D04E01F12I01
    //-           td 级热轧圆盘条
    //-           td Φ6HPB300普通线材
    //-           td t
    //-           td 2016-5-30
    //-           td 200.000
    //-           td 光明牌
    //-           td 国家标准
    //-         tr
    //-           td
    //-             input(type="checkbox")
    //-           td 0101B01D04E01F12I01
    //-           td 级热轧圆盘条
    //-           td Φ6HPB300普通线材
    //-           td t
    //-           td 2016-5-30
    //-           td 200.000
    //-           td 光明牌
    //-           td 国家标准
