h3.print-title.text-center 公司名称+收货单 
  small 编号：SHD0001
table.table.table-default.table-bordered
  tr
    td.type-list 项目名称
    td 南京歌剧院一期
    td.type-list 合同名称
    td 南京歌剧院一期
  tr
    td.type-list 供应商
    td 江苏筑牛网络科技有限公司
    td.type-list 打印日期
    td 2016-12-25
  tr
    td.type-list 退货日期
    td 2016-12-25
    td &nbsp;
    td &nbsp;
br
table.table.table-default.table-bordered.member-edit-table
  tr
    th 编号
    th 订单编号
    th 材料编码
    th 材料名称
    th 规格型号
    th 单位
    th 退货数量
    th 备注
  tr
    td 1
    td 20155256566
    td 0101B01D04E01F12I01
    td Ⅰ级热轧圆盘条
    td Φ6HPB300普通线材
    td T
    td 60.00
    td 已通过
  tr
    td 1
    td 20155256566
    td 0101B01D04E01F12I01
    td Ⅰ级热轧圆盘条
    td Φ6HPB300普通线材
    td T
    td 60.00
    td 已通过
  tr
    td 1
    td 20155256566
    td 0101B01D04E01F12I01
    td Ⅰ级热轧圆盘条
    td Φ6HPB300普通线材
    td T
    td 60.00
    td 已通过
  tr
    td 1
    td 20155256566
    td 0101B01D04E01F12I01
    td Ⅰ级热轧圆盘条
    td Φ6HPB300普通线材
    td T
    td 60.00
    td 已通过
br
table.table.table-default
  tr
    td 制单人：
    td &nbsp;
    td 施工员：
    td &nbsp; 
    td 退货人：
    td &nbsp;
    td 送货人：
    td &nbsp;