.search-con 
  .row
    .col-md-2
      ul#treeDemo.ztree
    .col-md-5.panelm-j.panelm-w
      p 财务部
      table#bm-table
    .col-md-1.panelm-c
      button.btn.j-role-a(type="button" title="添加")
        .icon-angle-right
      button.btn.j-role-r(type="button" title="移除")
        .icon-angle-left
    .col-md-3
      ul.panelm-w.list-unstyled.chosedlist