.form-group.col-md-10
  label.control-label.col-xs-5(style="width:16%;") 接收对象：
  .col-xs-9.col-md-10
    table.table.table-bordered.table-default.fawen_1_table
      thead
        tr
          th 编号
          th 对象类型
          th 选择接收对象
          th
            a.add(href="javascript:;") +
      tbody