/*!
* @Author: huangzexia
* @Date:   2016-06-29 09:06:08
* @Last Modified by:   huangzexia
* @Last Modified time: 2016-06-30 14:37:46
*/
@import '/modules/variables';
@import '/modules/project-common';
@import '/modules/tabs';
@import '/modules/page-common';

.pact-form {
  padding: 36px;
  .list-container{
    margin: 10px;
  }
  .notice{
    color: #f93;
  }
}
/*收货单*/
.default-data{
  display: inline-block;
  margin-top:7px;
}
.panel{
  border:none;
  box-shadow: none;
}
.nav-tabs{
  padding-left: 30px;
  border-bottom: 1px solid #2d62a4;
  li{
    margin-bottom: 0;
  }
}
.money-box{
  position: relative;
  .money{
    position: absolute;
    top: 7px;
    right: -10%;
  }
}
.pic-show{
  padding-left: 15%;
}
/*收退货查询*/
.pact-tax-type{
  width: 27%;
}
.checkbox-inline + .checkbox-inline{
  margin-left: 0;
}
.date-box input{
    float: left;
    width: 49%;
    &.first{
      margin-right: 1%;
    }
  }
/*退货单*/
.all-tax{
  width: 23%;
}
.goods-list-date{
  width: 36%;
  float: left;
  margin-right: 10px;
}
.result-container{
  padding: 0 20px;
}
.print-title{
  margin-bottom: 30px;
}
.type-list{
  background: #f2f2f2;
}
.tax-box{
  position: relative;
  width: 580px;
  .del-tax{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    background: #2d62a4;
    color: #fff;
    border-radius: 50%;
  }
}