html {
  font-size: 12px;
  line-height: 1.6;
  font-family: 'Microsoft Yahei';
}

body {
  background: #e6352d url(../image/bg.jpg) top center;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  &,
  &:visited {
    color: inherit;
  }
}

.container {
  width: 1200px;
  margin: 672px auto 0;
}

.ova {
  overflow: auto;
}

.ovh {
  overflow: hidden;
}

.l-container {}

.l-right {
  width: 426px;
  float: right;
}

.c-timeline {
  $c-item-date-link-width: 8px;
  $c-item-date-link-before-width: 10px;
  $c-item-desc-pad: -10px;
  position: relative;
  &__line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    margin-left: 2px;
    background: #fff;
    z-index: -1;
  }
  &__header {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    background: #eed209;
    border-radius: 70px;
    color: #e6352d;
    line-height: 1;
    strong {
      float: left;
      font-size: 120px;
      margin-left: 50px;
    }
    b {
      font-size: 40px;
      line-height: 1.4;
    }
  }
  &__title {
    font-size: 32px;
    color: #e6352d;
  }
  &__route {
    text-align: center;
    color: #e6352d;
    &-item {
      padding: 45px 0;
      &.is-active {
        .c-timeline__route-item__date-link:before {
          background: red;
        }
        .c-timeline__route-item__desc {
          display: block;
        }
      }
      &__date {
        display: inline-block;
        border-radius: 12px;
        color: #e6352d #eed209;
        line-height: 26px;
        padding: 0 8px;
        position: relative;
        cursor: pointer;
        &-link {
          position: absolute;
          top: 50%;
          width: $c-item-date-link-width;
          height: 4px;
          margin-top: calc(@height / -2);
          background: #fff;
          &:before {
            position: absolute;
            top: -3px;
            content: '';
            size: calc($c-item-date-link-before-width - 4px);
            border: 2px solid #fff;
            border-radius: 50%;
          }
        }
      }
      &__desc {
        display: none;
        position: absolute;
        margin-top: 16px;
        background: #fff;
        width: 146px;
        padding: 12px;
        color: #e6352d;
        font-weight: bold;
        border-radius: 12px;
        &:before {
          content: '';
          position: absolute;
          top: -20px;
          width: 0;
          height: 0;
          border: 20px solid transparent;
        }
      }
      &--left {
        .c-timeline__route-item__date-link {
          left: calc($c-item-date-link-width * -1);
          &:before {
            left: calc($c-item-date-link-before-width * -1);
          }
        }
        .c-timeline__route-item__desc {
          left: $c-item-desc-pad;
          &:before {
            right: 0;
            border-right-color: #fff;
          }
        }
      }
      &--right {
        .c-timeline__route-item__date-link {
          right: calc($c-item-date-link-width * -1);
          &:before {
            right: calc($c-item-date-link-before-width * -1);
          }
        }
        .c-timeline__route-item__desc {
          right: $c-item-desc-pad;
          &:before {
            left: 0;
            border-left-color: #fff;
          }
        }
      }
    }
  }
}

.c-slider {
  width: 665px;
  height: 493px;
  margin: 36px auto 52px;
  background: url(../image/tv.png);
  box-sizing: border-box;
  padding: 25px 27px;
  position: relative;
  &__m {
    overflow: hidden;
  }
  &__wrap {
    width: 400%;
    transition: .3s;
  }
  &__item {
    width: 25%;
    float: left;
    img {
      width: 100%;
      height: 355px;
    }
  }
  &-pager {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  &-pager__item {
    display: inline-block;
    size: 10px;
    border-radius: 50%;
    background: #fff;
    margin: 0 6px;
    cursor: pointer;
    &.is-active {
      background: #e00;
    }
  }
}

.c-news {
  padding-top: 50px;
  line-height: 54px;
  width: 624px;
  margin-left: 50px;
  border-bottom: 1px dashed #494b52;
  font-size: 14px;
  $color: #fc0;
  &__item {
    border-top: 1px dashed #494b52;
  }
  &__item-link {
    text-decoration: none;
    &,
    &:visited {
      color: #afb1b9;
    }
    &:before {
      content: '·';
      color: $color;
    }
    &:hover {
      color: $color;
    }
  }
  &__item-date {
    float: right;
    color: #6f7177;
  }
}

.c-rotation {
  margin: 140px auto 60px;
  width: 1018px;
  position: relative;
  &__op {
    &-item {
      position: absolute;
      top: 50%;
      size: 50px 74px;
      background: #43464d;
      margin-top: -37px;
      cursor: pointer;
      color: #212328;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      line-height: 74px;
      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }
      &:hover {
        background: color(#43464d l(+10%));
      }
    }
  }
  &__banners {
    $w: 836px;
    $h: 450px;
    $w1: 600px;
    $h1: 300px;
    width: $w;
    margin: 0 auto;
    height: $h;
    position: relative;
    &-item {
      position: absolute;
      transition: .3s;
      height: $h1;
      top: calc(($h - $h1) / 2);
      width: 400px;
      &.is-active {
        width: $w1;
        height: $h;
        left: calc(($w - $w1) / 2);
        z-index: 10;
        top: 0;
      }
      img {
        size: 100%;
      }
    }
  }
}

.footer {
  padding: 40px 0;
  text-align: center;
  background: #292b31;
  color: #5b5f6b;
  clear: both;
  a {
    margin: 0 10px;
    &:hover {
      color: color(#5b5f6b l(+10%));
    }
  }
  .copyright {
    margin-top: 12px;
  }
}
