extends /common

append style
  +style('index')

append content
  .container-fluid
    .panel.panel-default.mt-20: .panel-body
      #ss 上传
      +form-horizontal
        +form-horizontal-item({label:'姓名',i:true,type:'input',cw:4})
        +form-horizontal-item({label:'性别',i:true,type:'radio',text:['男','女'],cw:4})
        +form-horizontal-item({label:'编号',i:true,type:'input',cw:4})
        +form-horizontal-item({label:'手机',type:'mobile',cw:4})
        +form-horizontal-item({label:'电话',type:'tel',cw:4})
        +form-horizontal-item({label:'邮箱',type:'email',cw:4})
        +form-horizontal-item({label:'任职情况',row:true,type:'mix',i:true,cw:8})(id="desc")
          include /partials/partial-1
        +form-horizontal-item({label:'地址',type:'input',cw:8})
        +form-horizontal-item({label:'备注',type:'textarea',cw:8})
        +form-horizontal-item({label:'是否激活',type:'mix'})
          +checkbox('是')
        +form-horizontal-item({label:'账号',type:'mix',cw:8,i:true,row:false})
          .row
            .col-md-7
              +form-control({label:'账号',type:'text',i:true})
            .col-md-5
              label.control-label
                span.text-danger *
                | 密码：
              span ******
              +button('生成密码')(class="btn-default" data-modal-load="_add-modal1.html" data-modal-title="发送密码")
        +form-horizontal-item({type:'submit',offset:true})
