extends /common

append style
  +style('index')

append content
  +org
    +template
      +detail-head({tl:'当前用户',tn:'李起光（男）',ed:'编辑人员信息',href:'_detail-modal1.html',items:items})
        .col-md-12
          span.text-primary 未激活
          +button('激活')(
            class="btn-primary"
            data-modal-load="_detail-modal2.html"
            data-modal-title="发送密码"
            data-modal-stxt="激活"
          )
        .row
          .col-md-4
            label 任职情况
            .adapt-item *********
          .col-md-4
            label
              span.text-danger *
              | 密码
            .adapt-item *********
              +button('重置')
    
    +tab(tabs)
      .tab-pane.active#tab1
        .panel.panel-default
          .panel-body.row
            .col-md-9
              .form-group 该权限关联的角色有：
                a(href="" data-toggle="modal" data-target="#modal-role")
                  +icon('pencil', '编辑')
                span.badge.ml-20(title="需要帮助的内容") ?
              +table(['角色名称','描述','创建日期','修改日期'])
                tr
                  td 项目经理
                  td
                  td
                  td
                tr
                  td 材料员
                  td
                  td
                  td
                tr
                  td 仓管员
                  td
                  td
                  td
                tr
                  td 预决算员
                  td
                  td
                  td
      .tab-pane#tab2
        .panel.panel-default
          .panel-body.row
            .col-md-9
              .form-group 该权限关联的角色有：
                a(href="" data-toggle="modal" data-target="#modal-rel")
                  +icon('pencil', '编辑')
                span.badge.ml-20(title="需要帮助的内容") ?
              +table-menu-permission
      .tab-pane#tab3
        .panel.panel-default
          .panel-body.row
            .col-md-9
              .form-group 该用户拥有的角色：
                a(href="" data-toggle="modal" data-target="#modal3")
                  +icon('pencil', '编辑')
                span.badge.ml-20(title="需要帮助的内容") ?
              +table(['数据范围', '系统名称'], 4)
                tr
                  td 中建集团
                  td 云采购系统

  +modal-role('编辑角色成员', '搜索用户', '被选中的用户')

  +modal('编辑功能权限')(id="modal-rel")
    .form-group.text-warning 注：红色字体的权限是通过角色获取的，不可以直接取消，需要到人员角色里进行取消。
    +table-menu-permission-edit

  +modal('编辑数据权限')(id="modal3")
    +form-horizontal
      .form-group
        .col-md-10
          label.control-label.pull-left 数据范围：
          +radio('部门')
          +radio('项目')
      +searchbox('搜索用户')(class="col-md-6")
      +table(['项目简称','项目编号','项目部门','项目经理','操作'],4)
        tr
          td 项目经理
          td
          td
          td
          td
            a.j-del(href="") 删除
            a.j-add(href="") 新增
