extends /common

append style
  +style('home')

append content
  .container-fluid
    .row.btn-box
      .pipe-list
        a(href="#" data-id="1").btn.btn-default 
          span 测试（请忽略）
          span.J-closed.close &times;
      a.add-plan#add-pipe(href="javascript:;" data-modal-load="_add-pipe.html" data-modal-title="编辑快捷菜单" data-modal-stxt="确定" data-modal-size="sm")
        +icon("pencil","编辑")
    .row
      .col-md-8
        .panel.panel-default
          .panel-heading
            .pull-right 
              span 时间降序
              a(href="#").more-list 更多&gt;
            .panel-h-icon
              i.icon-time
            | 待处理
          .panel-body
            ul.info-list.wait-info
              li
                a(href="#" title='1、钢材采购单，沈力 2015-12-1 提交，部门：苏州分公司-第一项目部') 
                  span.text-overflow 1、钢材采购单，沈力 2015-12-1 提交，部门：苏州分公司-第一项目部
                span.pull-right 2016-7-1 11:52:30
              li
                a(href="#")
                  span.text-overflow 2、钢材采购单，沈力 2015-12-1 提交，部门：苏州分公司-第一项目部
                span.pull-right 2016-7-1 11:52:30
              li
                a(href="#")
                  span.text-overflow 3、钢材采购单，沈力 2015-12-1 提交，部门：苏州分公司-第一项目部
                span.pull-right 2016-7-1 11:52:30
              li
                a(href="#")
                  span.text-overflow 4、钢材采购单，沈力 2015-12-1 提交，部门：苏州分公司-第一项目部
                span.pull-right 2016-7-1 11:52:30    
        .row
          .col-md-6
            .panel.panel-default
              .panel-heading
                .pull-right 
                  a(href="#").more-list 更多&gt;
                .panel-h-icon
                  i.icon-shopping-cart
                | 采购信息
              .panel-body
                ul.info-list
                  li
                    a(href="#" title='钢材采购单') 
                      span.text-overflow 1、钢材采购单
                    span.pull-right.has-price 5条报价
                  li
                    a(href="#")
                      span.text-overflow 1、钢材采购单
                    span.pull-right.has-price  5条报价
                  li
                    a(href="#")
                      span.text-overflow 1、钢材采购单
                    span.pull-right.has-price  5条报价
                  li
                    a(href="#")
                      span.text-overflow 1、钢材采购单
                    span.pull-right.has-price  5条报价
          .col-md-6
            .panel.panel-default
              .panel-heading
                .panel-h-icon
                  i.icon-time
                | 交易信息
              .panel-body
                ul.info-list
                  li
                    a(href="#" title='钢材采购单') 
                      span.text-overflow.jiaoyi 1. 东方之门：钢筋采购合同；苏州测试有限公司；100万
                  li
                   a(href="#" title='钢材采购单') 
                      span.text-overflow.jiaoyi 1. 东方之门：钢筋采购合同；苏州测试有限公司；100万
                  li
                    a(href="#")
                      span.text-overflow.jiaoyi 1. 东方之门：钢筋采购合同；苏州测试有限公司；100万
                  li
                    a(href="#")
                      span.text-overflow.jiaoyi 1. 东方之门：钢筋采购合同；苏州测试有限公司；100万
        .row
          .col-md-12
            .panel.panel-default
                .panel-heading
                  .panel-h-icon
                    i.icon-bar-chart
                  | 全国产值数据
                .panel-body#echarts-1(style="height:600px;")
      .col-md-4
        .panel.panel-default
          .panel-heading
            .pull-right 
              a(href="#").more-list 更多&gt;
            .panel-h-icon
              i.icon-bell-alt
            | 通知消息
          .panel-body
            ul.info-list
              li
                a(href="#" title='关于全公司集体学习党最新会议精神') 
                  span.text-overflow 
                    span.has-price 【会议纪要】:
                    |关于全公司集体学习党最新会议精神 
                img(src="image/new.png").new-info
                span.pull-right 2016-5-28
              li
                a(href="#" title='关于全公司集体学习党最新会议精神') 
                  span.text-overflow 
                    span.has-price 【会议纪要】:
                    |关于全公司集体学习党最新会议精神 
                span.pull-right 2016-5-28
              li
                a(href="#" title='关于全公司集体学习党最新会议精神') 
                  span.text-overflow 
                    span.has-price 【会议纪要】:
                    |关于全公司集体学习党最新会议精神 
                span.pull-right 2016-5-28
              li
                a(href="#" title='关于全公司集体学习党最新会议精神') 
                  span.text-overflow 
                    span.has-price 【会议纪要】:
                    |关于全公司集体学习党最新会议精神 
                span.pull-right 2016-5-28
        .panel.panel-default
          .panel-heading
            .panel-h-icon
              i.icon-signal
            | 成交指数
          .panel-body
            #echarts-2(style="height:260px;")