extends /common

append style
  +style('login')

append content
  .container-fluid
    header.login-header
      a(href="")
        img(src="", alt="")
  .container
    .pos-rel.pull-right
      .login-wrap
        .form-login-header
          span.icon-ycg.pull-left.mr-16
          .adapt-item 建筑行业云采购系统
            p Building cloud procurement
        .panel.panel-primary
          .panel-heading 用户登录
          .panel-body.bg-info
            .alert.alert-danger.hidden#error-area
            form.form-login#form-login(action="data/login" method="post")
              .form-group.has-feedback.mt-30
                +form-control({label:'用户名',name:'username',placeholder:'用户名',i:true})
                span.icon-user-md.form-control-feedback
              .form-group.has-feedback
                +form-control({label:'密码',name:'password',placeholder:'密码',type:'password',i:true})
                span.icon-lock.form-control-feedback
              .form-group
                .btn-group.btn-group-justified
                  .btn-group
                    +form-control({label:'验证码',name:'code',placeholder:'验证码',i:true})(data-msg-remote="验证码不正确")
                  .btn-group
                    img(src="", alt="")
                  .btn-group.text-center
                    a.text-muted(href="") 换一张
              .checkbox
                a.pull-right(href="") 忘记密码
                +checkbox('记住我','reme')
              .form-group
                +submit('登录')(class="btn-primary")
  .login-ad
  .container
    footer.text-right.text-primary 江苏筑牛网络科技有限公司 版权所有