extends /common

append style
  +style('add-notice')

append content
  .container-fluid
    .row
      .col-md-12
        .panel.panel-default
          .panel-body(style="padding:24px;") 
            +form-horizontal()(class="row" id="purchase-plan")
              .row
                +form-horizontal-item({label:'标题',type:'text',cw:7})(class="col-md-3")
              .row
                .form-group.col-md-11
                  label.control-label.pull-left(style="width:11%;")  内容：
                  .col-xs-7
                    textarea#editor(name="content" style="width:100%;height:300px;")
              .row
                .form-group.col-md-3
                  label.control-label.col-xs-5 置顶：
                  .col-xs-9.col-md-7
                    label.radio-inline
                      input(type="radio" value="1" name="temp").setTop
                      |是
                    label.radio-inline
                      input(type="radio" value="0" name="temp").setTop
                      |否
              .row.up-date.hidden
                .form-group.col-md-3
                  label.control-label.col-xs-5 置顶至：
                  .col-xs-9.col-md-7
                    input(type="text" date="true").form-control
              .row
                .form-group.col-md-3
                  label.control-label.col-xs-5 添加附件：
                  .col-xs-9.col-md-7
                    button.btn.btn-default.upFile-btn 点击上传
                    p.filehelp-p
                      span.show_a 显示文件名
                      input.filenametmp(type="hidden")
                      input.urltmp(type="hidden")
                      input.sizetmp(type="hidden")
                      input.typetmp(type="hidden")
              .row.up-depart
                .form-group.col-md-3
                  label.control-label.col-xs-5 发送部门：
                  .col-xs-9.col-md-7
                    input(type="text").form-control
              .row
                .form-group.col-md-3
                  label.control-label.col-xs-5 &nbsp;
                  .col-xs-9.col-md-7
                    button.btn.btn-primary 确定发布 