extends /common

append style
  +style('detail')

append content
  .container-fluid
    .row
      .col-md-12
        .panel.panel-default
          .panel-body(style="padding:24px;") 
            blockquote.blockquote-reverse
              h3 关于学习党精神的会议通知
                a(href="#").icon-pencil.edit-notice 编辑
              footer 2016-06-20
          .info-container
            .con 另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格另一种展示风格
            p.file 附件：
              a(href="#") 展示风格另一种展示风格另一种


            