extends /common

append style
  +style('index')

append content
  .container-fluid
    .panel.panel-default.mt-24
      .alert
        h3 产值统计
        +form-horizontal
          .row
            .col-md-3
              +form-horizontal-item({label:'所属项目',type:'text',lw:3})
            .col-md-3
              +form-horizontal-item({label:'所属部门',type:'text',lw:3})
            .col-md-2
              +submit('统计')(class="btn-primary")
      .row
        .col-md-8
          .pull-right
            a.btn.btn-default(href="") 导出
          table