/*!
* @Author: huangzexia
* @Date:   2016-06-23 17:00:25
* @Last Modified by:   huangzexia
* @Last Modified time: 2016-07-28 10:46:13
*/
@import '/modules/variables';
@import '/modules/page-common';
@import '/modules/tabs';
@import '/modules/project-common';
@import '/modules/approve';
.nav-tabs{
  border-bottom: 1px solid #2d62a4;
  li{
    margin-bottom: 0;
  }
}
.panel{
  border:none;
  box-shadow: none;
  .panel-body{
    border-bottom: none;
  }
  .pay-style .control-label{
    padding-top: 0;
  }
  .pay-style input{
    margin-right: 4px;
  }
}
.pay-style-tab{
  display: none;
}
