@import '/modules/page-common';
.main-menu-top {
  display: none;
  text-align: center;
  &.navbar-nav > li {
    &:hover {
      background: #3e7ecc;
      > a {
        color: #fff;
      }
    }
    > a {
      color: #7fb4f5;
    }
  }
  .is-toggled & {
    display: block;
  }
}

.main-menu-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  background: #bed7f6;
  width: 400px;
  z-index: 1;
  padding: 10px * 20px;
  .main-menu-top li:hover & {
    display: block;
  }
  a {
    color: #666;
    &:hover {
      color: #2f61a2;
    }
  }
}

.main-menu-top-right {
  > li > a {
    padding: * 28px;
  }
  i {
    font-size: 20px;
    vertical-align: middle;
  }
  img {
    size: 30px;
    border-radius: 50%;
    margin-right: 6px;
  }
  .badge {
    position: absolute;
    background: #f39800;
  }
}

@define-mixin full-screen $top: 0,
$left: 0,
$right: 0,
$bottom: 0,
$position: absolute {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@define-extend animate {
  transition: .3s;
}

.l-lr {
  overflow: hidden;
  &__left {
    float: left;
  }
  &__main {
    overflow: hidden;
  }
  &--full {
    @mixin full-screen 62px;
    > div {
      height: 100%;
      position: relative;
    }
  }
}

.u-pad-lr {
  padding: 0 20px;
  @extend animate;
}

.c-menu-main {
  $maxw: 260px;
  $minw: 48px;
  $pl: 20px;
  $mt: 4px;
  $lh: 40px;
  background: #2e3b4c;
  line-height: $lh;
  padding-top: 55px;
  position: relative;
  @extend animate;
  width: $maxw;
  height: 100%;
  &__wrap {
    @mixin full-screen 100px;
    width: $maxw;
    overflow: auto;
  }
  &__btn {
    position: absolute;
    font-size: 26px;
    line-height: 36px;
    size: @line-height;
    text-align: center;
    top: 10px;
    right: 0;
    background: #fdfdfd;
    cursor: pointer;
    &:before {
      @extend animate;
    }
  }
  &__item {
    overflow: hidden;
    margin-top: $mt;
    min-height: $lh;
    &__t {
      display: block;
      padding: 0 $pl;
      background: #2d4b71;
      cursor: pointer;
      color: #fff;
      position: relative;
      @extend animate;
      i {
        float: right;
        margin-top: 12px;
        &:before {
          transition: .3s;
          transform: rotate(-90deg);
        }
      }
      span {
        display: inline-block;
        font-size: 16px;
        margin-right: 12px;
        vertical-align: middle;
        width: 24px;
      }
    }
    &__b {
      margin-top: -500px;
      @extend animate;
    }
    &.is-active {
      .c-menu-main__item__t i:before {
        transform: rotate(0);
      }
      .c-menu-main__item__b {
        margin-top: 0;
      }
    }
  }
  &__subitem {
    display: block;
    color: #85a3c8;
    padding-left: 58px;
    padding-right: 20px;
    @extend animate;
    &.is-active {
      color: #fff;
      background: #51637a;
    }
  }
  &.is-toggled {
    width: $minw;
    .c-menu-main__item__t {
      padding-left: 12px;
      color: #5578a6;
    }
    .u-pad-lr {
      opacity: 0;
    }
    .c-menu-main__btn {
      &:before {
        transform: rotate(180deg);
      }
    }
    .is-active .c-menu-main__item__b {
      display: none;
    }
  }
}

.c-tab-main {
  $lh: 30px;
  $pw: 56px;
  $bg: #aec5e1;
  background: $bg;
  padding: 10px $pw 0 13px;
  /*overflow: hidden;*/
  line-height: $lh;
  &__wrap {
    width: 500%;
    overflow: hidden;
    position: relative;
    transition: left .3s;
  }
  &__dropdown {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    &__t {
      width: $pw;
      text-align: center;
      color: #fff;
      background: color($bg lightness(10%));
      cursor: pointer;
    }
    &__menu {
      background: #fff;
      border: 1px solid #adadad;
      width: 150px;
      height: 300px;
      overflow: auto;
      display: none;
      &__item {
        padding: 0 12px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        &:hover,
        &.is-active {
          color: #7fb4f5;
        }
      }
    }
  }
  &__item {
    position: relative;
    float: left;
    padding: 0 20px;
    margin-left: 4px;
    background: #86a8d1;
    position: relative;
    cursor: pointer;
    $radius: 6px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    color: #cedff5;
    transition: .3s;
    &--index {
      padding-left: 30px;
      color: #2e62a2;
      background: url("../image/house.png") no-repeat 10px center;
    }
    span {
      position: absolute;
      right: 0;
      top: 1px;
      background: #5583ba;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;
      display: none;
      &:after {
        content: '×';
        display: block;
        size: 16px;
        line-height: @size;
        text-align: center;
      }
      /*&:hover {
        background: #749cce;
        color: #fff;
      }*/
    }
    &.is-active {
      background-color: #fff;
      color: #2e62a2;
    }
    &:hover {
      span {
        display: block;
      }
    }
  }
}

.page-container {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 40px;
  width: 100%;
  background: #f7fafd;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.icon-search {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 50px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #154075;
}

.navbar-left {
  margin-top: 6px;
}
.search-text{
  border-radius: 20px;
  background: #4774ab;
  border:1px solid  #456fa2;
  color: #fff;
  &:focus{
    border-color:#456fa2;
    box-shadow: none;
  }
}