.right-serach dl{
  overflow: hidden;
  margin-bottom: 10px;
  .p-name{
    width: 90px!important;
    text-align: right!important;
  }
  .p-name ~ dd{
    width: 82%;
    margin: 0 10px;
    float: left;
    label{
      margin-right: 12px;
      margin-left: 0!important;
    }
  }
}
.form-inline{
  padding-left: 20px;
  .form-group{
    width: 33%;
    input{
      width: 60%;
    }
  }
}

.ztree,.right-serach{
  max-height: 450px;
  overflow-y:auto; 
}
