.con-container{
  background: #fff;
  border:$border;
  margin: 20px 0;
  .tab-nav{
    padding: 10px 30px;
    border-bottom: 1px solid #2d62a4;
    width: 100%;
  }
  .pact-form{
    overflow: hidden;
    .list-title{
      padding: 10px 46px;
      background: #d5e0ed;
      margin-bottom: 18px;
      cursor: pointer;
      .J-toggle{
        color: #2d62a4;
      }
    }
    .text-primary{
      display: inline-block;
      margin-top: 7px;
    }
  }
}
.up-file-container{
  position: relative;
  .add{
    padding:0 5px;
    border: 1px solid #2d62a4;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top: 6px;
  }
}
.default-data{
  display: inline-block;
  margin-top:7px;
}

