.panelm {
  line-height: 34px;
  overflow: hidden;
}

.panelm-w {
  border: $border;
  padding: 8px 14px;
  line-height: 26px;
  height: 346px;
  overflow: auto;
}

.panelm-j {
  float: left;
  width: calc(50% - 40px);
}

.panelm-c {
  float: left;
  width: 80px;
  text-align: center;
  padding: 50px 10px;
  .btn {
    background: #fff;
    border: 1px solid;
    width: 34px;
    margin-top: 24px;
    color: #c4c4c4;
    &:hover {
      color: #2c5380;
    }
  }
}