extends /common

append style
  +style('material-pact')

append content
  .container-fluid
    .con-container
      .tab-nav
        button.btn.btn-primary.J-add-save 保存
        button.btn.btn-default.J-acdd 确认提交
      .pact-form.clearfix 
        .row.col-md-12
          +form-horizontal()(class="row" id="material-pact-form")
            .row
              +form-horizontal-item({label:'主合同',i:true,type:'select',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'补充合同名称',i:true,type:'input',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'补充合同编号',type:'mix',cw:7})(class="col-md-4")
                span.text-primary 保存后自动生成……
            .row
              +form-horizontal-item({label:'所属项目',type:'mix',cw:7})(class="col-md-4")
                span.default-data 南京歌剧院一期项目
              +form-horizontal-item({label:'供应商',type:'mix',cw:7})(class="col-md-4")
                span.default-data 江苏筑牛网络科技有限公司
              +form-horizontal-item({label:'材料类型',type:'mix',cw:7})(class="col-md-4")
                span.default-data Φ6HPB300普通线材
            .row
              +form-horizontal-item({label:'发票类型',type:'mix',cw:7})(class="col-md-4")
                span.default-data 增值税专用发票
              +form-horizontal-item({label:'税率',type:'mix',cw:7})(class="col-md-4")
                span.default-data 17%
              +form-horizontal-item({label:'补充合同总额',type:'mix',cw:7})(class="col-md-4")
                span.default-data 200.00 元（税额：100.00，不含税价：200.00）
            .row
              +form-horizontal-item({label:'备注',type:'textarea',cw:7})(class="col-md-4 remark")
      +tab(tabs)
        .tab-pane.active#tab1
          .panel.panel-default
            .panel-body.row
              .col-md-12
                .table-responsive.table-list
                  table.table.table-bordered.table-default
                    thead
                      tr
                        th 编号
                        th 材料编码
                        th 材料名称
                        th 规格型号
                        th 单位
                        th 
                          span.star *
                          |计划到货日期
                        th 
                          span.star *
                          |数量
                        th 单价
                        th 总价
                        th 税额
                        th 不含税价
                        th 备注
                        th 
                          a.add-cos(href="javascript:;") +
                    tbody
                      tr
                        td 1
                        td 0101B01D04E01F12I01
                        td 级热轧圆盘条
                        td Φ6HPB300普通线材
                        td t
                        td 2016-12-25
                        td 2000.000
                        td 600000.00
                        td 600000.00
                        td 600000.00
                        td 600000.00
                        td 89898998
                        td 
                          a(href="javascript:;").btn.btn-default.J-del-item 删除
                      tr
                        td 2
                        td 
                          input.form-control(type="text")
                        td 
                          input.form-control(type="text")
                        td Φ6HPB300普通线材
                        td 钢筋
                        td 
                          input.form-control(type="text" date="true")
                        td 
                          input.form-control
                        td 600000 
                        td 600000
                        td 600000
                        td 600000
                        td 
                          input.form-control
                        td 
                          a(href="javascript:;").btn.btn-default.J-del-item 删除
                    tfoot
                      tr
                        td &nbsp;
                        td 合计：
                        td &nbsp;
                        td &nbsp;
                        td &nbsp;
                        td &nbsp;
                        td 60.00
                        td &nbsp;
                        td 6000,000.00
                        td &nbsp;
                        td &nbsp;
                        td &nbsp;
                        td &nbsp;
        .tab-pane#tab2
          .panel.panel-default
            .panel-body.row
              .col-md-10
                +table-add-pact-file
                a.add.add-cos(href="javascript:;" title="新增") +