extends /common

append style
  +style('look-supplier')

append content
  .container-fluid
    .con-container
      p.title 公司信息
      dl.dl-horizontal
        dt 公司名称：
        dd 江苏筑牛网络科技有限公司北京分公司
      dl.dl-horizontal
        dt 法人代表：
        dd 李起光
      dl.dl-horizontal
        dt 营业执照注册号：
        dd 20152266522156566565
      dl.dl-horizontal
        dt 营业执照：
        dd 
          img(src="image/project-pic.jpg")
      dl.dl-horizontal
        dt 纳税身份：
        dd 小规模纳税人
      dl.dl-horizontal
        dt 一般纳税人识别号：
        dd 211635265+565666
      dl.dl-horizontal
        dt 纳税身份证明：
        dd 
          img(src="image/project-pic.jpg")
      dl.dl-horizontal
        dt 供应商类型：
        dd 生产厂商
      dl.dl-horizontal
        dt 销售范围：
        dd 全国
      dl.dl-horizontal
        dt 供应品类：
        dd 水泥，螺纹管
      p.title 联系方式
      dl.dl-horizontal
        dt 联系人手机：
        dd 18862230214
      dl.dl-horizontal
        dt 固定电话：
        dd 0512-65895478
      dl.dl-horizontal
        dt 联系人QQ：
        dd 123456789
      dl.dl-horizontal
        dt 联系人：
        dd 螺纹管
      dl.dl-horizontal
        dt 联系地址：
        dd 江苏省苏州市吴中区吴中万达广场306室