extends /common

append style
  +style('material-pact')

append content
  .container-fluid
    .con-container
      .tab-nav.text-right
        button.btn.btn-primary.J-add-save 查询
        a(href="add-supplemental-pact.html").btn.btn-default.J-acdd 新增补充合同
        button.btn.btn-default 删除
      .pact-form.clearfix 
        .row.col-md-12.slider-container
          +form-horizontal()(class="row" id="material-pact-form")
            .row
              +form-horizontal-item({label:'补充合同名称',type:'input',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'补充合同编号',type:'input',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'所属项目',type:'input',cw:7})(class="col-md-4")
            .row
              +form-horizontal-item({label:'供应商',type:'input',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'主合同',type:'input',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'所属部门',type:'input',cw:7})(class="col-md-4")
            .row
              +form-horizontal-item({label:'年月',type:'select',cw:7})(class="col-md-4")
              .form-group.col-md-6
                .control-label.col-xs-4(style="width:27%") 审批状态：
                .col-xs-8.more-selected
                  label.checkbox-inline
                    input(type="checkbox").Review_Status_all 
                    |全部
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |已生效
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |审批中
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |未生效
      p.slider-btn.text-right 
        a.open-close-btn(href="javascript:;") ▼展开 
    .con-container
      .pact-form 
        p.text-right#toolbar
          a(href="")
            +icon("share-alt","导出")
        table
          tfoot(style="border-top:1px solid #ddd;")
            tr
              td &nbsp;
              td(align="center") 合计：
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td(align="center") 4,000,000.00
              td(align="center") 120,000.00
              td(align="center") 4,000.00