extends /common

append style
  +style('index')
append script
  +script('index')

append content
  .container-fluid
    +detail-head({items:items,tl:'权限名称',tn:'权限管理',ed:'#modal-role-edit'})
    +tab(tabs)
      .tab-pane.active#tab1
        .panel.panel-default
          .panel-body
            .col-md-9
              .form-group 该权限关联的角色有：
                a(href="" data-toggle="modal" data-target="#modal-role")
                  +icon('pencil', '编辑')
              +table-role
          .panel-body
            .col-md-9
              .form-group 该权限关联的角色有：
                a(href="" data-toggle="modal" data-target="#modal-rel")
                  +icon('pencil', '编辑')
              +table-permission
      .tab-pane#tab2
        .panel.panel-default
          .panel-body
            .col-md-9
              .form-group 该权限关联的角色有：
              +table-rel-role
  +modal-role('编辑关联角色', '搜索全部角色', '关联的角色')

  +modal('编辑关联角色')(id="modal-rel")
    +table-rel-role-edit
  
  // 编辑权限
  +modal('编辑权限')(id="modal-role-edit")
    +form-horizontal(formItems)