extends /common

append style
  +style('storage')

append content
  .container-fluid
    .con-container
      .tab-nav.text-right
        button.btn.btn-primary.J-add-save 查询
        a(href="receivinggoods.html").btn.btn-default 我要收货
        a(href="return-goods-list.html").btn.btn-default 我要退货
        button.btn.btn-default 删除
      .pact-form.clearfix
        .row.col-md-12.slider-container
          +form-horizontal()(class="row" id="add-contact-form")
            .row
              +form-horizontal-item({label:'验收单编号',type:'text',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'所属项目',type:'select',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'材料合同',type:'select',cw:7})(class="col-md-4")
            .row
              +form-horizontal-item({label:'供应商',type:'select',cw:7})(class="col-md-4")
              +form-horizontal-item({label:'验收人',type:'text',cw:7})(class="col-md-4")
              .form-group.col-md-4
                label.control-label.col-xs-5 日期：
                .col-xs-9.col-md-7.date-box
                  input.form-control.first(date="true") 
                  input.form-control(date="true") 
            .row
              +form-horizontal-item({label:'所属部门',type:'select',cw:7})(class="col-md-4")
              .form-group.col-md-4
                .control-label.col-xs-5 操作类型：
                .col-xs-9.col-md-7.more-selected
                  label.checkbox-inline
                    input(type="checkbox").Review_Status_all 
                    |全部
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |收货
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |退货
              .form-group.col-md-4
                .control-label.col-xs-5 审批状态：
                .col-xs-7.more-selected
                  label.checkbox-inline
                    input(type="checkbox").Review_Status_all 
                    |全部
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |已生效
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |审批中
                  label.checkbox-inline
                    input(type="checkbox").regul  
                    |未生效
      p.slider-btn.text-right 
        a.open-close-btn(href="javascript:;") ▼展开 
    .con-container
      .pact-form.list-container
        table#query-list
            tfoot
              tr
                td &nbsp;
                td &nbsp;
                td(align="center") 合计：
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td(align="center") 200.000
                td(align="center") 400.000  
                td(align="center") 200.000
                td(align="center") 400.000  
                td &nbsp;
                td &nbsp;
                td &nbsp;
                td &nbsp;
                   
