
mixin table(obj, count)
  - var thead
  - var hasData = true
  if !obj
    - obj = {},hasData = false
  if obj instanceof Array
    - thead = obj
    - obj = {}
  else
    - thead = obj.thead
  - count = count || obj.count
  .table-responsive
    table.table(class={"table-bordered":obj.border!==false,"table-default":typeof obj.style!=='string'})&attributes(attributes)
      if thead
        thead
          each item in thead
            th= item
      if hasData
        tbody
          - if(count)
            +iterator(count)
              block
          - else
            block

mixin table-sort(thead,toolbar)
  +table(thead,20)(data-toggle="table" data-show-columns="true" data-toolbar=toolbar data-pagination="true" data-search="true")
    block

mixin table-menu-permission(items)
  if !items
    - items = ['一级菜单','二级菜单','三级菜单','功能权限']
  +table(items)(class="table-bordered")
    tr
      td
        label
          i.icon-ok
          | 项目管理
      td
        label
          i.icon-ok
          | 项目信息
      td
        label
          i.icon-ok
          | 查询页面
      td
        label
          i.icon-ok
          | 查询
        label
          i.icon-ok
          | 新增
        label
          i.icon-ok
          | 导出

mixin table-menu-permission-edit(items)
  if !items
    - items = ['一级菜单','二级菜单','三级菜单','功能权限']
  +table(items)(class="table-bordered")
    +iterator(4)
      tr
        td
          label
            input(type="checkbox")
            | 项目管理
        td
          label
            input(type="checkbox")
            | 项目信息
        td
          label
            input(type="checkbox")
            | 查询页面
        td
          label
            input(type="checkbox")
            | 全部
          label
            input(type="checkbox")
            | 查询
          label
            input(type="checkbox")
            | 新增
          label
            input(type="checkbox")
            | 导出

mixin table-permission
  table.table.table-default.table-bordered
    thead
      tr
        th(rowspan=2) 角色名称
        th(rowspan=2) 采单权限
        th(colspan=4) 功能权限
      tr
        th 全部
        th 编辑
        th 打印
        th 反审核
    tbody
      tr
        td 项目经理
        +iterator(5)
          td
            i.icon-ok

mixin table-user
  +table(['用户名','账号','该用户所有的角色'])(class="table-bordered")
    +iterator(4)
      tr
        td 管理员
        td admin
        td 项目经理 分公司副总

mixin table-rel-role
  +table(['用户名','账号','',''])(class="table-bordered")
    tr
      td 管理员
      td admin
      td
      td
    tr
      td 李起光
      td admin
      td
      td

mixin table-rel-role-edit
  table.table.table-default.table-bordered
    thead
      tr
        th(rowspan=2) 角色名称
        th(rowspan=2) 采单权限
        th(colspan=4) 功能权限
        th(rowspan=2) 操作
      tr
        th 全部
        th 编辑
        th 打印
        th 反审核
    tbody
      tr
        td 项目经理
        +iterator(5)
          td
            input(type="checkbox")
        td
          a.j-del(href="") 删除
          a.j-add(href="") 新增
  div
    ul.dropmenu
      li.active 项目经理
      li 材料员
      li 仓管员

//- 项目详情编辑项目成员模块     
mixin table-project-member-edit
  .tab-nav
    button.btn.btn-primary.J-add-project-member 新增 
  p
  +table(['编号','分类','职务','人员','进场日期','离场日期','是否有效','操作'])(class="table table-bordered table-default table-bordered member-edit-table")
    +iterator(2)
      tr
        td 01
        td 
          span 项目管理
          div.hide-container
            select.form-control
              option
                | 项目经理
              option
                | 材料员
              option
                |仓管员
        td 
          span 项目经理
          div.hide-container
            select.form-control
              option
                | 项目经理
              option
                | 材料员
              option
                |仓管员
        td 
          span 李起光
          div.hide-container
            select.form-control
              option
                | 项目经理
              option
                | 材料员
              option
                |仓管员
        td 
          span 2015-12-25
          div.hide-container
            input.form-control(type="date")
        td 
          span 2015-12-30
          div.hide-container
            input.form-control(type="date")
        td 
          span 有效
          div.hide-container
            select.form-control
              option
                | 有效
              option
                | 无效
        td
          a.J-edit-member(href="javascript:;") 编辑
          a.J-del-member(href="javascript:;") 删除
//- 项目详情项目附件模块              
mixin table-project-file
  +table(['编号','文档编号','文档名称','上传人','上传日期'])(class="table-bordered")
    +iterator(3)
      tr
        td 01
        td SJDF0012
        td 
          a(href="") 李刚 
        td 李刚
        td 2016-12-15 12:50:32
mixin table-project-file-edit
  .tab-nav
    button.btn.btn-primary.J-add-project-member 新增 
  p
  +table(['编号','文档编号','文档名称','上传人','上传日期','操作'])(class="table table-bordered table-default table-bordered member-edit-table")
    tr
      td 01
      td 21025622
      td 
       a(href="") 李起光
      td 李起光
      td 2016-5-12
      td
        a.J-del-member(href="javascript:;") 删除
    tr
      td 01
      td 21025622
      td 
       a(href="") 李起光
      td 李起光
      td 2016-5-12
      td
        a.J-upfile(href="javascript:;") 上传
//- 项目详情项目联系单位模块
mixin table-project-contact-edit
  .tab-nav
    button.btn.btn-primary.J-add-project-member 新增 
  p
  +table(['编号','分类','单位名称','联系人','联系方式','操作'])(class="table table-bordered table-default table-bordered member-edit-table ")
    +iterator(2)
      tr
        td 01
        td 
          span 建设单位
          div.hide-container
            select.form-control
              option
                | 监理单位
              option
                | 设计单位
              option
                | 审计单位
        td 
          span 江建集团
          div.hide-container
            select.form-control
              option
                | 江建集团
              option
                | 江建集团
              option
                |江建集团
        td 
          span 李起光
          div.hide-container
            select.form-control
              option
                | 李起光
              option
                | 李起光
              option
                |李起光
        td 
          span 18985621542
          div.hide-container
            input.form-control(type="text")
        td
          a.J-edit-member(href="javascript:;") 编辑
          a.J-del-member(href="javascript:;") 删除
mixin table-project-contact 
  +table(['编号','单位类型','单位名称','联系人','联系方式'])(class="table-bordered")
    tr
      td 01
      td 建设单位
      td 江安集团
      td 李刚 
      td 123456789
    tr
      td 02
      td 建设单位
      td 江安集团
      td 李刚 
      td 123456789
    tr
      td 03
      td 建设单位
      td 江安集团
      td 李刚 
      td 123456789
    tr
     td 04
      td 建设单位
      td 江安集团
      td 李刚 
      td 123456789
//- 项目配置模块
mixin table-project-config-pact
  +table(['阶段名称','默认付款比例','对应项目状态','操作'])(class="table-bordered")
    tr
      td 
        input.form-control(type="text")
      td 
        input.form-control(type="text")
      td 
        select.form-control
          option 未开工
          option 在建中
          option 已完工
          option 已审定
      td
        a(href="javascript:;") 删除
mixin table-project-pact-list
  +table(['条款标题','操作'])(class="table-bordered")
    tr
      td 
        textarea(name="", cols="30", rows="2").form-control
      td
        a(href="javascript:;") 删除

mixin table-role
  +table(['角色名称','描述','创建日期','修改日期'])(class="table-bordered")
    each item in ['项目经理', '材料员', '仓管员', '预决算员']
      tr
        td= item
        td
        td
        td
mixin table-pact-pay
  +table(['阶段名称','付款比例','说明'])(class="table-bordered")
    +iterator(2)
      tr
        td 预付款
        td 60%
        td 一定要给
mixin table-pact-desc
    +iterator(1)
      p 合同摘要内容：
      p 付款协议摘要：
      p 质保金条款：
      p 结算信息：
mixin table-pact-file
  +table(['编号','文档编号','文档名称','上传人','上传日期'])(class="table-bordered")
    +iterator(3)
      tr
        td 01
        td SJDF0012
        td
          a(href="#") 投标书pdf
        td 李刚
        td 2016-12-15 12:50:32
mixin table-pact-change-history
  +table(['编号','变更类型','变更内容','变更人','变更日期'])(class="table-bordered")
    +iterator(3)
      tr
        td 01
        td SJDF0012
        td 李刚 
        td 李刚
        td 2016-12-15 12:50:32
mixin table-add-pact
  +table(['变更类型','变更前','变更后','变更事由'])(class="table-bordered")
      tr
        td 
          <select class="form-control">
            <option>工期</option>
            <option>工期1</option>
            <option>工期2</option>
            <option>工期3</option>
          </select>
        td 2016-1-10 ~ 2016-5-10
        td 
          <input type="date" class="form-control change-price" > ~
          <input type="date" class="form-control change-price" >
        td 
          <input type="text" class="form-control" >
      tr
        td 
          <select class="form-control">
            <option>造价</option>
            <option>造价1</option>
            <option>造价2</option>
            <option>造价3</option>
          </select>
        td 6000万
        td <input type="text" class="form-control change-price" >  万 
        td 
          <input type="text" class="form-control" >
      tr
        td 
          <select class="form-control">
            <option>其它</option>
            <option>其它1</option>
            <option>其它2</option>
            <option>其它3</option>
          </select>
        td 
          <input type="text" class="form-control" >
        td 
          <input type="text" class="form-control" > 
        td 
          <input type="text" class="form-control" >