mixin modal(title, noFooter)
  - var obj = {}
  if typeof title !== 'object'
    - obj.title = title
    - obj.noFooter = noFooter
  else
    - obj = title
  .modal.fade(data-backdrop="static")&attributes(attributes)
      .modal-dialog(class={'modal-sm':obj.size==1,'modal-lg':obj.size==2})
        .modal-content
          if obj.title
            .modal-header
              button.close(data-dismiss="modal")
                span &times;
              = obj.title
          .modal-body
            block
          if !obj.noFooter
            .modal-footer
              if !obj.saveText
                - obj.saveText = '保存'
              +button(obj.saveText)(class=obj.saveClass class="j-modal-ok")
              if !obj.noret
                +button('返回')(data-dismiss="modal")

mixin panelm(placeholder, s)
  form.panelm
    .panelm-j
      .form-group.has-feedback
        input.form-control(placeholder=placeholder)
        .icon-search.form-control-feedback
      ul.panelm-w.list-unstyled
        +iterator(10)
          li
            label
              input(type="checkbox")
              | 材料员
    .panelm-c
      button.btn.j-role-a(type="button" title="添加")
        .icon-angle-right
      button.btn.j-role-aa(type="button" title="全部添加")
        .icon-double-angle-right 
      button.btn.j-role-r(type="button" title="移除")
        .icon-angle-left
      button.btn.j-role-ra(type="button" title="全部移除")
        .icon-double-angle-left 
    .panelm-j
      .form-group=s
      ul.panelm-w.list-unstyled

mixin modal-role(title, placeholder, s)
  +modal(title)(id="modal-role")
    +panelm(placeholder, s)

mixin modal-project-config-add-item
  .container-fluid
    .row
      label.col-md-4.control-label.J-project-item-name 项目状态：
      .col-md-6
        input.item-val.form-control(type="text")
mixin modal-add-people
  .container-fluid
    .row
      label.col-md-4.control-label.J-project-item-name 人员姓名：
      .col-md-6
        input.item-val.form-control(type="text")
mixin modal-project-config-addno-item
  .container-fluid
    .row
      label.col-md-4.control-label.J-project-item-name 编号规则
      .col-md-6
        select.form-control.bh_no
          option(value="分公司编号") 分公司编号
          option(value="固定编号") 固定编号
          option(value="年月") 年月
mixin modal-project-config-addhtno-item
  .container-fluid
    .row
      label.col-md-4.control-label.J-project-item-name 编号规则
      .col-md-6
        select.form-control.ht_no
          option(value="分公司编号") 分公司编号
          option(value="固定编号") 固定编号
          option(value="年月") 年月
mixin modal-bankpay-edit-item
  .container-fluid
    .row
      label.col-md-4.control-label.J-project-item-name 银行回单号：
      .col-md-6
        input.item-val.form-control(type="text")
mixin modal-invoice-approve
  .container-fluid
    .row
      label.col-md-4.control-label.J-project-item-name 认证日期：
      .col-md-6
        input.item-val.form-control(type="text" date="true")