.row 
  +form-horizontal-item({label:'收货单编号',type:'text',cw:7})(class="col-md-4")
  +form-horizontal-item({label:'所属项目',type:'text',cw:7})(class="col-md-4")
  +form-horizontal-item({label:'材料合同',type:'text',cw:7})(class="col-md-4")
.row
.row
  .bill-modail(style="padding:0 30px;")
    p.text-right#toolbar
      button.btn.btn-primary 查询
    table.offertable