/* !
* @Author: huangzexia
* @Date:   2016-06-15 09:05:35
* @Last Modified by:   huangzexia
* @Last Modified time: 2016-07-20 09:10:51
*/
@import '/modules/variables';
@import '/modules/project-common';
@import '/modules/tabs';
@import '/modules/page-common';
@import '/modules/area';
.con-container{
  margin-bottom: 0;
   .form-item-box{
      margin:0 33px 30px 33px;
      .upload-container{
        position: relative;
        background: #e9ecf5 url("../image/up-pic.png") no-repeat center 20px;
        width: 100%;
        height: 174px;
        border:1px dashed #cad8e8;
        border-radius: 5px;
        .upFile{
          display: block;
          height: inherit;
          text-decoration: underline;
          line-height: 300px;
        }
        .show-pic{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: none;
        }
      }
      .tip{
        color: #418ae3;
        position: relative;
        top: 6px;
      }
      .good-tip{
        padding: 16px 12px;
        color: #f93;
        a{
          text-decoration: underline;
        }
      }
      .manage-price{
        position: relative;
        span{
          position: absolute;
          right: -5px;
          top: 7px;
        }
      }
      .tax-type{
        margin-left: 23px;
      }
      .taxType select{
        width: 48%;
        float: left;
        &:nth-of-type(1){
          margin-right:2%;
        }
      }
      .price{
        border:none;
        width: 18%;
      }
      .tax-price{
        margin-top: 6px;
        margin-bottom: 0;
        overflow: hidden;
        span{
          margin-right: 8px;
        }
      }
      .pact-tax-type{
        float: left;
        width: 28%;
        margin-right: 1%;
      }
      .pact-tax-type-1{
        margin-right: 0;
        width: 54%;
      }
      .bill-type{
        width: 33%;
      }
      .area-check div{
        padding-right: 0;
      }
      .project-survey textarea{
        height: 100px;
      }
      .project-name{
        margin-left: 4px;
      }
      .tax-rate{
        margin-left: -10%;
        label{
          width: 24%;
        }
      }
    }
  .file-list{
    position: relative;
    .add-file{
      position: absolute;
      top: 9px;
      right: -22px;
      padding: 0px 5px;
      border-radius: 50%;
      border: 1px solid #2b61a5;
    }
  } 
}
.pact-date input{
  float: left;
  width: 48%;
  margin-right: 2%;
}
.pact-project-survey{
  margin-left: -14%!important;
}
.edit-name{
  display: inline-block;
  margin-top:6px;
}
.days{
  width: 85%;
}
.day-s{
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
}
.nav-tabs{
  margin-left: 42px;
}
.survey{
  margin-bottom: 30px;
  height: 100px!important;
}
input[type="file"]{
  opacity: 0;
}
.up-btn{
  width: 85px;
  height: 34px;
}