/*!
* @Author: huangzexia
* @Date:   2016-06-06 09:52:30
* @Last Modified by:   huangzexia
* @Last Modified time: 2016-06-20 18:54:09
*/
@import '/modules/variables';
@import '/modules/page-common';
@import '/modules/tabs';
@import '/modules/project-common';
/*合同详情页*/
.nav-tabs{
  border-bottom: 1px solid #2d62a4;
  li{
    margin-bottom: 0;
  }
}
.panel{
  border:none;
  box-shadow: none;
  .panel-body{
    border-bottom: none;
  }
}
.pact-info{
  position: relative;
  label{
    width: 140px;
  }
  .project-name{
    font-size: 16px;
    margin-bottom: 30px;
    .number{
      padding-left: 40px;
      color: #666;
      font-size: 14px;
    }
    .xl{
      color: #000;
    }
  }
  .tab-content{
    margin: 20px 30px;
  }
  .main-pact{
    font-size: 14px;
  }
}
.statu-pic{
  position: absolute;
  z-index: 0;
}
/*合同评审表*/
.modal-content{
  border-radius: 0;
  .modal-header{
    padding: 4px 14px;
    h4{
      font-size: 16px;
    }
  }
  button[type="button"]{
    padding: 4px 20px;
    &:hover{
      background:#366db0;
      color: #fff;
      border-color: #366db0;
    }
  }
  .pactinfo-title{
    margin: 40px 0;
    font-size: 16px;
    color: #000;
    text-indent: 3%;
  }
  p{
    margin-bottom: 18px;
    color: #333;
    span{
      display: inline-block;
      width: 30%;
      text-align: right;
      color: #666;
    }
  }
  .idea-item{
    margin-bottom: 32px;
    border-bottom: 1px solid #d2d2d2;
    p{
      text-indent: 20%;
    }
  }
}
/*补充合同*/
.filing{
  position: relative;
  top: 1px;
  margin-left: 18px!important;
  margin-right: 8px!important;
}
.pact-form{
  margin-top: -20px;
  background: #fff;
  border: $border;
  border-top: none;
  .title,
  form-box{
    padding-left: 30px;
  }
  .title{
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #d5e0ed;
  }
  .form-box{
    margin: 20px;
    overflow: hidden;
    .item{
      position: relative;
      dt{
        font-weight: normal;
      }
      dd{
        margin-left: 12px;
      }
      textarea{
        border: $border;
        resize: none;
        height: 110px;
        width: 80%;
      }
      .change-price{
        display: inline-block!important;
        width: 40%!important;
        text-align: right;
      }
    }
    .pact-table-list{
      padding: 0 92px;
      input{
        margin-right: 3px;
        position: relative;
        top: 2px;
        &[type="date"],
        &[type="text"]{
          width: 26%;
          top: -8px;
          float: left;
        }
      }
    }
  }
}
.p-time{
  line-height: 32px;
}
.other-info{
  margin-left: 119px;
}
.remark dt{
  margin-right: 60px;
  line-height: 112px;
}
